<h1 class="title">Detail Page for <%= @snack.name %></h1>

<div>Calories: <%= @snack.calories %></div>
<div>Deliciousness: <%= @snack.deliciousness %></div>
<div>Made by: <%= link_to @snack.retailer.name, retailer_path(@snack.retailer) %> </div>
<!-- <a href="/snacks">Back to Index Page</a> -->
<%= link_to "Edit this snack", edit_snack_path(@snack) %>
<%= link_to "Home Page", home_path %>
<%= link_to "Snacks Index", snacks_path %>