<!DOCTYPE html>
<html>
<head>
    <title>Detail Page</title>
</head>
<body>

    <h1>Detail Page for <%= @book.title %></h1>

    <h2>Written by <%= @book.author %></h2>

    <div><%= @book.snippet %></div>

    <form action="/books/<%= @book.id %>" method="POST">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete this book">
    </form>

    <a href="/books/<%= @book.id%>/edit">Edit this book</a>
    <a href="/books">Back to Index Page</a>
</body>
</html>