<h1>Create a new retailer</h1>

<%= render partial: "shared/error_list", locals: {new_thing: @retailer} %>

<%= form_for @retailer do |f| %>
    <%= f.label :name, "Retailer name" %>
    <%= f.text_field :name %>
    <%= f.label :year_established %>
    <%= f.number_field :year_established %>


    <h4>Snacks</h4>
        <%= f.fields_for :snacks do |snack| %>
            <%= snack.label :name %>
            <%= snack.text_field :name %>
            <%= snack.label :calories %>
            <%= snack.number_field :calories %>
            <%= snack.label :deliciousness %>
            <%= snack.select :deliciousness, (1..10) %>
        <% end %>
    <%= f.submit %>
<% end %>



<!-- <h3>Form tag</h3>

<%= form_tag(retailers_path) do %>
    <%= label_tag :name %>
    <%= text_field_tag :name %>
<% end %> -->
